<!DOCTYPE html>
<html>
  <head>
    <title>To-Do Application</title>
    <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <script src="javascript/app.js"></script>
    <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="teal" ng-app="todoApp">
    <div class="row">
      <div class="col s12 m6 offset-m3 l4 offset-l4">
          <div id="todoapp" ng-controller="TodoCtrl">
            <header>
              <br>
                <h3 class="center white-text">{{title}}</h3>
                <br>
                <div class="search-wrapper card">
                  <input id="search" placeholder="Type action here..." ng-model="todoText" ng-keyup="addTask()">
                </div>
            </header>

            <section>
              <ul class="collection">
                  <li ng-repeat="task in tasks" class="collection-item">
                    <p>
                    <input type="checkbox" class="filled-in" id="{{ 'task-' + $index}}" ng-checked="{{task.done}}"/>
                    <label for="{{ 'task-' + $index}}" ng-click="doneTask()" ng-style="stripText()">{{task.text}}</label>
                      <a ng-click="deleteTask()" class="secondary-content"><i class="material-icons">close</i></a>
                    </p>
                  </li>
              </ul>
            </section>

            <section class="right">
              <span class=" white-text remaining-index">{{remainingTask()}} of {{tasks.length}} remaining</span>
              <button class="btn white teal-text waves-effect waves-teal" ng-click="clearTask()">Clear</button>
            </section>                
          </div>
      </div>
      
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  </body>
</html>